<div class="container-fluid pt-4 px-4">
  <div class="mat-elevation-z3 col-12">
    <table class="table caption-top">
      <!-- <div class="container"> -->
        <caption class="p-2">
          <div class="search__container d-flex justify-content-between py-2">
            <div class="col-sm-8">
              <h3 class="fs-4">Product list</h3>
            </div>
            <div class="col-sm-4">
              <input class="search__input" type="text" (input)="search()" [(ngModel)]="searchTerm" placeholder="Search">
            </div>
          </div>
        </caption>
      <!-- </div> -->
      <thead class="fs-5">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Version No</th>
          <th>Edit No</th>
          <th>Version Date</th>
          <th>Revision Date</th>
          <th>Review Date</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="Scrollable-content">
        <tr *ngFor="let item of filteredData">
          <td>{{ item.code }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.versionNum }}</td>
          <td>{{ item.revisionNum }}</td>
          <td>{{ item.versionDate | date }}</td>
          <td>{{ item.editDate | date }}</td>
          <td>{{ item.nextRevieweDate | date }}</td>
          <td>
            <a [routerLink]="['/product', item.code]" class="text-decoration-none">
              <button mat-raised-button color="primary">Edit</button>
            </a>
          </td>
          <td>
            <button
            mat-raised-button color="warn"
              (click)="deleteProduct(item.code)"
            >
              Delete
            </button>
          </td>
          <td>
            <a [routerLink]="['/items', item.code]" class="text-decoration-none">
              <button mat-raised-button>Details</button>
              <!-- <button mat-icon-button>
              <mat-icon>details</mat-icon>
            </button> -->
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
