.ng-invalid.ng-touched{
  border-color: red;
}
.error-block{
  color: red;
}
.dataFont{
  font-style: 15px;
}
.versionForm{
 border-radius: 2%;background-color: #F7F7F7;padding-top: 5px;
}
.versuonList{
  background-color: #ffffff;border-radius: 2%;
}
